@import './parts/InnerContent/InnerContent';

.project-details {
    display: flex;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
    .inner {
        transition: transform 1s cubic-bezier(0.22, 1, 0.22, 1);
        display: flex;
        /* max-height: 100vh; */
        flex-grow: 1;
        > * {
            flex-shrink: 0;
        }
    }
}
