.text {
    transition: color 0.2s;
    &.type-regular {
        color: $c-text;
    }
    &.type-title {
        font-size: $text-large;
        color: $c-text;
    }
    &.type-muted {
        color: $c-muted;
    }
    &.size-small {
        font-size: $text-small;
    }
    &.size-medium {
        font-size: $text-medium;
    }
    &.size-large {
        font-size: $text-large;
    }
}
