.text {
    &.type-regular {
        color: $text-color;
    }
    &.type-title {
        font-size: $text-large;
        color: $text-color;
    }
    &.type-muted {
        color: gray;
    }
    &.size-small {
        font-size: $text-small;
    }
    &.size-medium {
        font-size: $text-medium;
    }
    &.size-large {
        font-size: $text-large;
    }
}
