.inner-content {
    padding-top: $layout-padding-md;
    display: flex;
    // min-height: 100vh;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: $layout-padding-lg * 2;
    @media (min-width: $break-medium) {
        align-items: center;
    }
    .projects-image {
        display: none;
        @media (min-width: $break-medium) {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 500px;
            aspect-ratio: 2;
            .img-container {
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.6s cubic-bezier(0.85, 0, 0.15, 1);
                border: 1px solid $c-text;
                clip-path: polygon(
                    0% calc(var(--tl) * 100%),
                    100% calc(var(--tr) * 100%),
                    100% calc(var(--br) * 100%),
                    0% calc(var(--bl) * 100%)
                );
                &.hovered {
                    clip-path: polygon(
                        0% calc(var(--tl) * 100%),
                        100% calc(var(--tr) * 100%),
                        100% calc(var(--br) * 100%),
                        0% calc(var(--bl) * 100%)
                    );
                }
                > img {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0%, -50%);
                }
            }
        }
    }
    .projects-list {
        > li:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}
