@import './parts/Gallery/Gallery';
.home {
    height: 100vh;
    max-height: 100vh;
    .container {
        max-width: 100dvw;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .header,
        .outro {
            // padding-inline: 6rem;
            width: 100%;
            position: absolute;
        }
        .outro {
            left: 0;
            bottom: 0%;
            transform: translateY(100%);
        }
        .header {
            z-index: 9;
            transform: translateY(calc(-100% - 1rem));
            top: 0;
            left: 0;
            // margin-bottom: 2rem;
        }
    }
    // @media (min-width: $break-medium) {
    //     .header {
    //         transform: translateY(calc(100% - 2rem));
    //         // margin-bottom: 1rem;
    //     }
    //     .outro {
    //         bottom: 20%;
    //         transform: translateY(-100%);
    //     }
    // }
}
