.logo {
    line-height: 0.8125;
    text-transform: uppercase;
    font-feature-settings: 'palt';
    display: flex;
    flex-direction: column;
    > span {
        width: 100%;
    }
    > span:nth-child(2) {
        text-align: end;
    }
    > span:nth-child(3) {
        opacity: 0.5;
    }
    &.small {
        font-size: 40px;
    }
    &.large {
        font-size: 70px;
    }
}
