.gallery {
    width: 100%;
    align-self: flex-start;
    .inner {
        position: relative;
        height: 35vh;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        border-right: 1px solid $c-text;
        border-left: 1px solid $c-text;
        .contnet {
            height: 100%;
            transition: transform 1s cubic-bezier(0.22, 1, 0.22, 1);
            position: relative;
            overflow-x: scroll;
            overflow-y: hidden;
            scroll-behavior: smooth;
            display: inline-flex;
        }
    }
    .item-container {
        width: auto;
        height: 100%;
        display: flex;
        aspect-ratio: 1920 / 920;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:not(:last-child) {
            margin-inline-end: 10px;
        }
    }
    @media (min-width: $break-medium) {
        .inner {
            overflow: hidden;
            .contnet {
                overflow: hidden;
            }
        }
    }
}
