.gallery {
    width: 100%;
    align-self: flex-start;
    margin-bottom: 1rem;
    height: 36%;
    .inner {
        position: relative;
        height: 100%;
        overflow: hidden;
        border-right: 1px solid $c-text;
        border-left: 1px solid $c-text;
        .contnet {
            transition: transform 1s cubic-bezier(0.22, 1, 0.22, 1);
            position: relative;
            height: 100%;
            overflow: hidden;
            display: inline-flex;
        }
    }
    .item-container {
        min-width: 720px;
        border: 1px solid $c-text;
        filter: saturate(0) brightness(0.8);
        transition-property: filter;
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.3, 0.1, 0.1, 1);
        display: flex;
        img {
            width: 100%;
            object-fit: cover;
        }
        &:hover {
            filter: none;
            transition-duration: 0.3s;
        }
        &:not(:first-child) {
            margin-inline-start: 10px;
        }
    }
}
