.gallery {
    width: 100%;
    align-self: flex-start;
    margin-bottom: 1rem;
    height: 36%;
    padding-inline: $layout-padding-lg;
    .inner {
        position: relative;
        height: 100%;
        overflow: hidden;
        .contnet {
            transition: all 0.35s linear;
            position: relative;
            height: 100%;
            overflow: hidden;
            display: inline-flex;
        }
    }
    .item-container {
        @include aspect-ratio(400, 200);
        min-height: 200px;
        min-width: 300px;
        border: 1px solid $c-text;
        &:not(:first-child) {
            margin-inline-start: 10px;
        }
    }
}
