// Dark/Light Mode
html {
    color: $text-color;
    background-color: $bg-color;
    transition: color 0.2s, background-color 0.2s;
}
//
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: $font-family-serif;
    font-size: $text-medium;
    line-height: $base-line-hight;
    -webkit-font-smoothing: antialiased;
}
