:root {
}
// Dark/Light mode vars
html[data-theme='light'] {
    --c-text: #1b1b1b;
    --c-bg: #f2f2f2;
    --c-muted: #464646;
    --c-highlight: #000;
}
html {
    --c-text: #f2f2f2;
    --c-bg: #000;
    --c-muted: #464646;
    --c-highlight: #ffffff;
}
// Colors
$c-text: var(--c-text);
$c-bg: var(--c-bg);
$c-muted: var(--c-muted);
$c-highlight: var(--c-highlight);

// Text Sizes
$text-small: 24px;
$text-medium: 28px;
$text-large: 70px;

// Fonts
$font-family-serif: 'Hacky', Arial, Helvetica, sans-serif;
$font-family-sans: 'Hacky', Arial, Helvetica, sans-serif;
$base-line-hight: 1.125;
